@model ADOWebApplication.DataModels.MizzaStyle

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MizzaStyle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MizzaStyleID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MizzaStyleID)
        </dd>

    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MizzaStyleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MizzaStyleName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MizzaStyleID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
