@model ADOWebApplication.DataModels.MizzaToppingStyle

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MizzaToppingStyle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ToppingStyleID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToppingStyleID)
        </dd>

    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ToppingName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToppingName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ToppingStyleID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
