@model ADOWebApplication.DataModels.MizzaSize

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MizzaSize</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MizzaSizeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MizzaSizeID)
        </dd>

    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MizzaSizeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MizzaSizeName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MizzaSizeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
