@model ADOWebApplication.DataModels.MizzaToppingSKUPrice

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MizzaToppingSKUPrice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ToppingStyleID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToppingStyleID)
        </dd>

    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SKUID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SKUID)
        </dd>

    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id1 = Model.ToppingStyleID, id2 = Model.SKUID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
