@model IEnumerable<ADOWebApplication.DataModels.MizzaSkuBasePrice>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SKUID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SKUID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.SKUID }) |
            @Html.ActionLink("Details", "Details", new { id = item.SKUID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.SKUID })
        </td>
    </tr>
}

</table>
